#calculator
{
    margin-top:5%;
    width:60%;
    height:70%;
    min-width:300px;
    min-height:460px; 
    border:3px solid black;
    margin-left: 20%;
    
}
#display-container
{
    font-size:3rem;
    font-family:-apple-system;
    /* word-wrap: break-word; */
    color:black;
    width:99.5%;
    height:90px;
    border:2px solid black;
    background-color:coral;
    align-content: center;
    

}
.button
{
    width:23.9%;
    height:48px;
    display:inline-block;
    border:2.25px solid black;
    font-size:1.5rem;
    font-family: -apple-system;
    background-color:beige;
    align-items: center;
    margin-right: -4px;

    
}
/* .button span:hover
{
    color:rgb(214, 218, 12);
    size:2.2rem;

} */
.button1
{
    width: 47.78%;
    height:65px;
    display: inline-block;
    border:3px solid black;
    font-size:2rem;
    background-color:beige;
    margin-right:0px;
    margin-left:0.5px;
    
    /* align-content: center;
    align-self: center; */

}
.text1
{
    font-size: 40px;
    color: grey;
    align-items:center;
    margin-left:24%;
}


